/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fafafa;
	font-family: 'Vazir', sans-serif;
	font-size: 17px;
	color: #434343;
}

/* Hero */
#hero {
	text-align: center;
	margin-top: 6rem;
}

#title {
	font-size: 2.5rem;
	font-weight: lighter;
	display: block;
	margin-top: 2rem;
	padding: 0 1rem;
}

#description {
	display: block;
	font-size: 17px;
	margin: 0 auto;
	text-align: justify;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	padding: 17px;
	margin-top: 2rem;
	max-width: 800px;
}

.buttons {
	margin-top: 2rem;
	font-size: 0;
}

.buttons a,
.buttons span {
	font-size: 15px;
	font-weight: bold;
	/*color: grey;*/
	padding: 5px;
	display: inline-block;
	transition: all .3s ease;
}

.buttons a {
	margin: 0 5px;
	text-decoration: none;
	border-bottom: solid 2px transparent;
}

.buttons a:hover {
	color: #000;
	border-bottom-color: #000;
}

/* Responsive Styles */
@media (max-width: 1024px) {
	#hero {
		margin-top: 1rem;
	}

	#description {
		margin: 2rem 1rem;
	}
}